/* ------------------------------------------------------ MAIN ---------------------------------------------------------*/
main h1{
    text-align: center;
    font-size: 45px;
    color: #1A990F;
    margin-top: 100px;
}

main > div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main div .dados .d-aprov{
    display: flex;
    align-items: center;
    font-size: 30px;
    margin-top: 30px;
}

main div .dados .aprovaram div{
    background-color: #7AD8EE;
    height: 50px;
    width: 50px;
    margin-right: 15px;
    border: solid 1px;
}

main div .dados .nao-aprovaram div{
    background-color: #FFC4C4;
    height: 50px;
    width: 50px;
    margin-right: 15px;
    border: solid 1px;
}

main div .dados .talvez-aprovariam div{
    background-color: #FFCDA7;
    height: 50px;
    width: 50px;
    margin-right: 15px;
    border: solid 1px;
}

/* Gráfico Escolas*/
main div #grafico{
    display: flex;
    align-items: end;
}

main div #grafico #col1{
    width: 90px;
    height: 300px;
    background-color: #7AD8EE;
    margin-right: 27px;
    border: solid 1px;
    box-shadow: 2px 3px 2px rgba(128, 128, 128, 0.321);
    border: rgba(0, 0, 0, 0.314) solid 1px;
}

main div #grafico #col2{
    width: 90px;
    height: 159px;
    background-color: #FFC4C4;
    margin-right: 27px;
    border: solid 1px;
    box-shadow: 2px 3px 2px rgba(128, 128, 128, 0.321);
    border: rgba(0, 0, 0, 0.314) solid 1px;
}

main div #grafico #col3{
    width: 90px;
    height: 120px;
    background-color: #FFCDA7;
    box-shadow: 2px 3px 2px rgba(128, 128, 128, 0.321);
    border: rgba(0, 0, 0, 0.314) solid 1px;
}

main .info {
    width: 600px;
    display: flex;
    justify-content: center;
    margin-left: 457px
}

main .info p {
    margin-top: 50px;
    margin-bottom: 42px;
    text-align: center;
    font-size: 20px;
}




