/* ------------------------------------------------------ HEADER --------------------------------------------------------- */
header {
    position: sticky;
    top: 0;
    height: 90px;
    width: 100yvw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    box-shadow: 2px 3px 2px rgba(128, 128, 128, 0.321);
    z-index: 2; /* Colocando o índice no item, para definir a ordem de sobreposição */
}

header div#logo-educaeco {
    display: flex;
    align-items: center;
    padding-bottom: 15px;

}

header div#logo-educaeco p {
    padding-top: 17px;
}

header div#logo-educaeco img {
    height: 60px;
}

header div#logo-educaeco p#educaeco{
    color: #6D6D6D;
    font-weight: bolder;
    font-size: 28px;
}

header a {
    text-decoration: none;
    color: black;
}

header a span {
    color: #41BD3F;
    font-weight: bolder;
}

header input {
    background-color: #A3D977;
    color: white;
    font-weight: bolder;
    line-height: 50px;
    width: 110px;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

/* Estado de hover (mouse sobre o botão) */
header input:hover {
    background-color: #3e8e41; /* Cor mais escura ao passar o mouse */
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

/* Estado de active (botão pressionado) */
header input:active {
    background-color: #2E7D32; /* Cor ainda mais escura */
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3); /* Sombra interna */
}

header a:hover {
    text-decoration: underline;
    color: rgb(71, 185, 223);
}

/* ------------------- MEDIA QUERIES - CELULAR ----------------------- */
@media screen and (max-width: 755px) {
    header div#logo-educaeco img {
        height: 30px;
    }

    header div#logo-educaeco p#educaeco {
        font-size: 12px;
    }

    header a {
        font-size: 11px;
    }

    header input {
        line-height: 30px;
        width: 60px;
        font-size: 12px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 70px;
        padding-left: 20px;
    }
}

/* ------------------------------------------------ FOOTER --------------------------------------------------------- */
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #BEEE97;
    margin: auto;
    margin-top: 150px;
    padding: 30px;

}

#LogoTexto {
    display: flex;
    align-items: end;
}

#LogoTexto h1 {
    margin-left: 20px;
    color: #247B3F;
    text-decoration: underline;
}

/* FOOTER - ÍCONES */
#icones img {
    margin-top: 20px;
}

#icones{
    display: flex;
}

/* ------------------- MEDIA QUERIES - CELULAR -----------------------*/
@media screen and (max-width: 755px){
    #LogoTexto img{
        width: 50px;
    }

    #LogoTexto h1 {
        font-size: 1.4em;
    }

    /* FOOTER - ÍCONES */
    #icones img {
        width: 35px;
    }

    #icones #youtube{
        width: 50px;
    }

    #icones #email{
        width: 40px;
    }

    #icones #linkedin{
        width: 32px;
    }
}


/* ------------------- MEDIA QUERIES - TABLET -----------------------*/
@media screen and (min-width: 756px){
    #LogoTexto img{
        width: 75px;
    }

    #LogoTexto h1 {
        font-size: 2.2em;
    }

    /* FOOTER - ÍCONES */
    #icones img {
        width: 50px;
    }

    #icones #youtube{
        width: 70px;
    }

    #icones #email{
        width: 60px;
    }

    #icones{
        padding-left: 180px;
    }
}

/* ------------------- MEDIA QUERIES - DESKTOP -----------------------*/
@media screen and (min-width: 1200px){
    #icones{
        padding-left: 500px;
    }

}
