/* ------------------------------------------------------ HEADER ---------------------------------------------------------*/

header{
    position: sticky;
    top: 0;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    box-shadow: 2px 3px 2px rgba(128, 128, 128, 0.321);
}

header div#logo-educaeco{
    display: flex;
    align-items: center;
}

header div#logo-educaeco p{
    padding-top: 17px;
}

header div#logo-educaeco img{
    height: 60px;
}

header div#logo-educaeco p#educaeco{
    color: #6D6D6D;
    font-weight: bolder;
    font-size: 28px;
}

header a{
    text-decoration: none;
    color: black;
}

header a span{
    color: #41BD3F;
    font-weight: bolder;
}

header input{
    background-color: #A3D977;
    color: white;
    font-weight: bolder;
    line-height: 50px;
    width: 110px;
    border: 0px;
    font-size: 16px;
    border-radius: 10px;
}

header input:hover{
    border: 2px solid #33AB58;
}

/* ------------------- MEDIA QUERIES - CELULAR -----------------------*/
@media screen and (max-width: 755px){
    header{
        width: 100vw;
    }

    header div#logo-educaeco img{
        height: 30px;
    }

    header div#logo-educaeco p#educaeco{
        font-size: 12px;
    }

    header a{
        font-size: 11px;
    }

    
    header input{
        line-height: 30px;
        width: 60px;
        border: 0px;
        font-size: 12px;
        border-radius: 10px;
    }


}

/* ------------------------------------------------ FOOTER ---------------------------------------------------------*/
footer{
    background-color: #BEEE97;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    margin: auto;
    margin-top: 150px;
    padding: 30px;
}

footer #parte-cima-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#LogoTexto{
    display: flex;
    align-items: end;
}

#LogoTexto h1{
    margin-left: 20px;
    color: #247B3F;
    text-decoration: underline;
}

#barra{
    display: flex;
    width: 3px;
    height: 100px;
    background-color: #247B3F;
}

#sobrenos{
    width: 600px;
}

#sobrenos h1{
    color: #247B3F;
}


/* FOOTER - ÍCONES */
#icones img{
    margin-top: 20px;
}

/* ------------------- MEDIA QUERIES - CELULAR -----------------------*/
@media screen and (max-width: 755px){
    footer{
        width: 200px;
    }

    footer img{
        width: 30px;
    }

    #LogoTexto{
        font-size: 10px;
    } 

    #barra{
        display: none;
    }

    #sobrenos{
        display: none;
        width: 70px;
    }
    
    #sobrenos h1{
        font-size: 10px;
    }

    #sobrenos p{
        font-size: 8px;
    }

    /* FOOTER - ÍCONES */
    #youtube{
        width: 25px;
        height: 25px;
    }

    #email{
        width: 23px;
        height: 23px;
    }

    #instagram{
        width: 25px;
        height: 25px;
    }

    #whatsapp{
        width: 30px;
        height: 30px;
    }

    #linkedin{
        width: 23px;
        height: 23px;
    }
}


/* ------------------- MEDIA QUERIES - TABLET -----------------------*/
@media screen and (min-width: 756px){
    footer{
        width: 450px;
    }

    footer img{
        width: 40px;
    }

    #LogoTexto{
        font-size: 18px;
    } 

    #sobrenos{
        width: 300px;
    }
    
    #sobrenos h1{
        font-size: 30px;
    }

    #sobrenos p{
        font-size: 12px;
    }

    /* FOOTER - ÍCONES */
    #youtube{
        width: 45px;
        height: 45px;
    }

    #email{
        width: 43px;
        height: 43px;
    }

    #instagram{
        width: 45px;
        height: 45px;
    }

    #whatsapp{
        width: 50px;
        height: 50px;
    }

    #linkedin{
        width: 43px;
        height: 43px;
    }
}

/* ------------------- MEDIA QUERIES - DESKTOP -----------------------*/
@media screen and (min-width: 1000px){
    footer{
        width: 900px;
    }

    footer img{
        width: 50px;
    }

    #LogoTexto{
        font-size: 18px;
    }

    #sobrenos{
        width: 600px;
    }

    #sobrenos h1{
        font-size: 45px;
    }
}

@media screen and (min-width: 1220px){
    footer{
        width: 1100px;
    }

    footer img{
        width: 80px;
    }

    #LogoTexto{
        font-size: 24px;
    }
}