/*ESTILOS GERAIS*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* --------------------------------SUB MAIN -> COMEÇO DA CLASSE "BAIXEAQUI"---------------------------------- */
.baixeaqui{
    display: flex;
    align-items: center;

}

.baixeaqui #titulo1{
    margin-top: 90px;
    color:#23BCDF;
    margin-bottom: 27px;
}

.baixeaqui img{
    margin-top: 40px;
}

.baixeaqui #texto1{
    text-align: justify;
}

.baixeaqui #baixeaqui{
    background-color: #A3D977;
    color: white;
    margin-top: 20px;
    font-weight: bolder;
    line-height: 50px;
    width: 140px;
    border: 0px;
    font-size: 16px;
    border-radius: 45px;
}

/* --------------------------------SUB MAIN -> COMEÇO DA CLASSE "BENEFÍCIOS"---------------------------------- */

.beneficios{
    display: flex;
    margin-top: 130px;
}

.beneficios #titulo2{
    color: #1A990F;
}

.conteudo #texto{
    text-align: justify;
}

.seta{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.seta img{
    height: 15px;
    margin-right: 10px;
}

.seta p{
    margin: 0px;
}
/* --------------------------------SUB MAIN -> COMEÇO DA CLASSE "GIF"---------------------------------- */
.gif{
    margin-top: 130px;
    display:flex;
    align-items: center;
}

.gif #gif_img{
    border-radius: 25px;
}

.gif #texto{
    text-align: justify;
}

/* --------------------------------SUB MAIN -> COMEÇO DA CLASSE "FUNCIONALIDADES" + JAVASCRIPT"---------------------------------- */
#titulo3{
    color: #1A990F;
    text-align: center;
}

.funcionalidades #botoes{
    display: flex;
    justify-content: center;
    margin-top: 28px;
}

.b-profalunos{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.funcionalidades #p-alunos{
    background-color: #B5FB7D;
}

.containers-js{
    display: flex;
    align-items: center;
    background-color: #DEFBC7;
    margin: auto;
    border-radius: 50px;
}

#container-escondido{
    display: none;
}

.bloco_dem{
    text-align: justify;
    border-radius: 20px;
}

.bloco_dem p{
    margin-top: 20px;
}

#demonstracao1{
    background-color: #B5FB7D;
}

/* --------------------------------SUB MAIN -> COMEÇO DA CLASSE "ICONES-FUNCOES"---------------------------------- */
#titulo4{
    margin-top: 150px;
    color: #1A990F;
    text-align: center;
}

.icones-funcoes {
    display: grid;
    justify-items: center;
}

.icones-funcoes div {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    text-align: justify;
    margin-bottom: 50px;
}

.icones-funcoes img{
    margin-bottom: 15px;
}

.icones-funcoes span{
    color: #23BCDF;
}
/* --------------------------------SUB MAIN -> COMEÇO DA CLASSE "ESCOLA"---------------------------------- */
#titulo5{
    color: #1A990F;
    text-align: center;
    margin-top: 150px; 
    margin-bottom: 60px;
}

.escola{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.escola img{
    margin-bottom: 50px;
}

.escola p{
    color: #66C88E;
}


/* ------------------- MEDIA QUERIES - CELULAR -----------------------*/
@media screen and (max-width: 755px){
    /********COMEÇO DA MAIN********/
    main{
        margin-right: 10px;
        margin-left: 10px;
    }

    /********SUB MAIN -> COMEÇO DA CLASSE "BAIXEAQUI"********/
    .baixeaqui{
        flex-direction: column;
    }

    .baixeaqui img{
        width: 200px;
        height: 190px;
    }

    .titulo{
        font-size: 20px;
    }

    .baixeaqui #texto{
        font-size: 12px;
        width: 200px;
    }

    /********SUB MAIN -> COMEÇO DA CLASSE "BENEFÍCIOS"********/
    .beneficios{
        flex-direction: column;
        align-items: center;
    }

    .beneficios #titulo2{
        font-size: 20px;
    }

    .conteudo #texto{
        font-size: 13px;
        margin-top: 20px;
        width: 300px;
    }

    .seta{
        font-size: 13px;
    }

    /********SUB MAIN -> COMEÇO DA CLASSE "GIF"********/
    .gif{
        flex-direction: column;
    }

    .gif #gif_img{
        width: 200px;
        height: 200px;
    }

    .gif #texto{
        margin-top: 20px;
        font-size: 12px;
        width: 250px;
    }

    /********SUB MAIN -> COMEÇO DA CLASSE "FUNCIONALIDADES" + JAVASCRIPT"********/
    #titulo3{
        margin-top: 120px;
        margin-bottom: 20px;
    }
    
    .containers-js{
        width: 300px;
        height: 520px;
        flex-direction: column;
    }
    
    .funcionalidades #botoes{
        font-size: 12px;
    }

    .b-profalunos{
        width: 110px;
        height: 45px;
    }

    .funcionalidades #imagem_demonstracao{
        width: 320px;
        height: 200px;
    }

    .bloco_dem{
        margin-top: 20px;
        width: 220px;
        padding: 10px;
        font-size: 10px;
    }

    /********SUB MAIN -> COMEÇO DA CLASSE "ICONES-FUNCOES"********/
    .icones{
        width: 300px;
        grid-template-rows: repeat(5, 1fr);
    }


    .icones-funcoes #img1 {
        grid-area: 1 / 1 / 1 / 1;
    }
    .icones-funcoes #img2 {
        grid-area: 2 / 1 / 2 / 1;
    }
    .icones-funcoes #img3 {
        grid-area: 3 / 1 / 3 / 1;
    }
    .icones-funcoes #img4 {
        grid-area: 4 / 1 / 4 / 1;
    }
    .icones-funcoes #img5 {
        grid-area: 5 / 1 / 5 / 1;
    }
    
    .icones-funcoes img{
        width: 80px;
        height: 80px;
    }

    .icones-funcoes p{
        font-size: 12px;
        width: 300px;
    }

    #titulo4{
        margin-bottom: 50px;
    }

    /********SUB MAIN -> COMEÇO DA CLASSE "ESCOLA"********/
    .escola img{
        width: 300px;
        height: 180px;
    }

    #titulo5{
        font-size: 16px;
    }
    
    .escola p{
        font-size: 13px;
    }
    
    
    
}

/* ------------------- MEDIA QUERIES - TABLET -----------------------*/
@media screen and (min-width: 756px){
    main{
        margin-right: 200px;
        margin-left: 200px;
    }

    /*******SUB MAIN -> COMEÇO DA CLASSE "BAIXEAQUI"********/
    .baixeaqui{
        flex-direction: column;
    }

    .baixeaqui img{
        width: 270px;
        height: 260px;
    }

    .titulo{
        font-size: 25px;
    }

    .baixeaqui #texto{
        margin-right: 80px;
        font-size: 12px;
    }

    /********SUB MAIN -> COMEÇO DA CLASSE "BENEFÍCIOS"********/
    .beneficios{
        flex-direction: column;
        text-align: center;
    }

    .conteudo{
        margin-top: 20px;
    }
   
    .conteudo #texto{
        font-size: 15px;
        width: 360px;
    }

    .seta{
        font-size: 14px;
    }

    /*********SUB MAIN -> COMEÇO DA CLASSE "GIF"********/
    .gif{
        flex-direction: column;
    }    

    .gif #gif_img{
        width: 300px;
        height: 300px;
    }
    
    .gif #texto{
        font-size: 16px;
        width: 500px;
        margin-top: 20px;
    }

    /********SUB MAIN -> COMEÇO DA CLASSE "FUNCIONALIDADES" + JAVASCRIPT"********/
    #titulo3{
        margin-top: 150px;
        margin-bottom: 60px;
    }
    
    .containers-js{
        width: 550px;
        height: 300px;
    }
    
    .funcionalidades #botoes{
        font-size: 16px;
    }

    .b-profalunos{
        width: 170px;
        height: 55px;
    }

    .funcionalidades #imagem_demonstracao{
        width: 250px;
        height: 150px;
    }

    .bloco_dem{
        margin-left: 20px;
        width: 220px;
        padding: 12px;
        font-size: 10px;
    }

    /********SUB MAIN -> COMEÇO DA CLASSE "ICONES-FUNCOES"********/
    #titulo4{
        margin-bottom: 100px;
    }

    .icones-funcoes {
        grid-template-rows: repeat(5, 1fr);
    }

    .icones-funcoes #img1 {
        grid-area: 1 / 1 / 1 / 1;
    }
    .icones-funcoes #img2 {
        grid-area: 2 / 1 / 2 / 1;
    }
    .icones-funcoes #img3 {
        grid-area: 3 / 1 / 3 / 1;
    }
    .icones-funcoes #img4 {
        grid-area: 4 / 1 / 4 / 1;
    }
    .icones-funcoes #img5 {
        grid-area: 5 / 1 / 5 / 1;
    }
    
    
    .icones-funcoes img{
        width: 100px;
        height: 100px;
    }

    .icones-funcoes p{
        font-size: 14px;
        width: 250px;
    }

    /********SUB MAIN -> COMEÇO DA CLASSE "ESCOLA"********/
    .escola img{
        width: 700px;
        height: 350px;
    }
    
    .escola p{
        font-size: 20px;
    }
}

@media screen and (min-width: 900px) {
    .baixeaqui{
        flex-direction: row-reverse;
    }
    
    .gif{
        flex-direction: row;
    }

    .gif #texto{
        font-size: 12px;
        width: 300px;
        margin-left: 20px;
    }

    .beneficios{
        flex-direction: row;
    }

    .conteudo{
        margin-left: 50px;
    }   

    .conteudo #texto{
        width: 440px;
    }
}

/* ------------------- MEDIA QUERIES - DESKTOP (pequenos detalhes) -----------------------*/
@media screen  and (min-width: 1024px){
    main{
        margin-right: 200px;
        margin-left: 200px;
    }

    .baixeaqui img{
        width: 400px;
        height: 390px;
    }
    
    .titulo{
        font-size: 35px;
    }

    .baixeaqui #texto{
        margin-right: 80px;
        font-size: 14px;
    }
}

/* ------------------- MEDIA QUERIES - DESKTOP -----------------------*/
@media screen and (min-width: 1200px){
    /********SUB MAIN -> COMEÇO DA CLASSE "BAIXEAQUI"********/
    .baixeaqui img{
        width: 430px;
        height: 420px;
    }
    
    .titulo{
        font-size: 45px;
    }

    .baixeaqui #texto{
        margin-right: 80px;
        font-size: 18px;
    }

    /******** MAIN -> COMEÇO DA CLASSE "BENEFÍCIOS"********/

    .conteudo #texto{
        font-size: 20px;
        width: 540px;
    }

    .seta{
        font-size: 16px;
    }

    /********SUB MAIN -> COMEÇO DA CLASSE "GIF"********/
    .gif{
        margin-left: 30px;
    }
    
    .gif #gif_img{
        width: 400px;
        height: 400px;
    }

    .gif #texto{
        width: 500px;
        margin-left: 80px;
        font-size: 20px;
    }

    /********SUB MAIN -> COMEÇO DA CLASSE "FUNCIONALIDADES" + JAVASCRIPT"********/
    .funcionalidades #botoes{
        font-size: 25px;
    }

    .b-profalunos{
        width: 234px;
        height: 75px;
    }

    .funcionalidades #p-alunos{
        margin-right: 60px;
    }

    .funcionalidades #p-professores{
        margin-left: 60px;
    }
    
    .containers-js{
        width: 1000px;
        height: 538px;
        padding-top: 41px;
    }

    .bloco_dem{
        margin-left: 44px;
        width: 258px;
        padding: 20px;
        font-size: 16px;
        margin-top: 30px;
    }

    .funcionalidades #imagem_demonstracao{
        width: 600px;
        height: 400px;
    }

    

    /********SUB MAIN -> COMEÇO DA CLASSE "ICONES-FUNCOES"********/
    .icones-funcoes {
        grid-template-columns: repeat(5, 0.3fr);
        grid-template-rows: repeat(2, 0.3fr);
    }
    
    .icones-funcoes #img1 {
        grid-area: 1 / 1 / 2 / 2;
    }
    .icones-funcoes #img2 {
        grid-area: 1 / 3 / 2 / 4;
    }
    .icones-funcoes #img3 {
        grid-area: 1 / 5 / 2 / 6;
    }
    .icones-funcoes #img4 {
        grid-area: 2 / 2 / 3 / 3;
    }
    .icones-funcoes #img5 {
        grid-area: 2 / 4 / 3 / 5;
    }

    .icones-funcoes img{
        width: 150px;
        height: 150px;
    }

    .icones-funcoes p{
        font-size: 16px;
    }

    .icones-funcoes span{
        font-size: 20px;
    }

    /********SUB MAIN -> COMEÇO DA CLASSE "ESCOLA"********/

    .escola img{
        width: 1000px;
        height: 500px;
    }
    
    .escola p{
        font-size: 30px;
    }
    
}





